.headbar {
  font-family: 'Shrikhand', cursive;
  background-image: linear-gradient(red, darkred);
  height: 100px;
  color: white;
  text-align: center;
  padding-top: 25px;
}
body {
  background: repeating-linear-gradient(
  to right,
  #f6ba52,
  #f6ba52 10px,
  #ffd180 10px,
  #ffd180 20px
);
  font-family: 'Niconne', cursive;
  text-align: center;
  color: white;
}
h1 {
  margin-top: 0px;
}
img {
  position: absolute;
  top: 35px;
  left: 25px;
  width: 500px;
  height: 500px;
}
.well {
  margin-top: 25px;
  width: 520px;
  height: 520px;
  border-radius: 100%;
}
button {
  background-color: green;
  font-size: 20px;
  border-radius: 5px;
}
#pizzaIngredients, img {
  display: none;
}
#pizzaIngredients, #regCrust {
  display: block;
}
#priceTab {
  display: none;
}
