.headbar {
  font-family: 'Shrikhand', cursive;
  background-image: linear-gradient(lightgreen, green);
  height: 100px;
  color: white;
  text-align: center;
  padding-top: 25px;
}
body  {
  background: repeating-linear-gradient(
  to right,
  #f6ba52,
  #f6ba52 10px,
  #ffd180 10px,
  #ffd180 20px
);
  font-family: 'Niconne', cursive;  
}
h1  {
  margin-top: 0px;
}
